body > header
    border-bottom: 1px solid rgba(255,255,255, .1)
    .container
        align-items: center
        display: flex
        justify-content: space-between
        margin: $spacing-1 0
        .logo
            height: 44px
            img
                height: 100%
        nav 
            a
                text-decoration: none
                position: relative
                + a
                    margin-left: $spacing-0
                    @include media-breakpoint-up(md)
                        margin-left: $spacing-1
                &::after
                    background: white
                    content: ""
                    height: 1px
                    left: 0
                    position: absolute
                    transform: translateY(calc(#{$spacing-2} + 10px)) scale(0)
                    transform-origin: right center
                    transition: transform .3s ease
                    width: 100%
                &:hover
                    &::after
                        transform-origin: left center
                        transform: translateY(calc(#{$spacing-2} + 10px)) scale(1)

.page__home
    .hero
        margin-bottom: calc(#{$spacing-1} * 2)
        @include media-breakpoint-up(md)
            align-items: center
            justify-content: center
            display: flex
            width: 100%
            margin-bottom: calc(#{$spacing-3} * 2)
        figure
            height: 30vh
            position: relative
            @include media-breakpoint-up(md)
                height: 50vh
                margin-right: $spacing-3
            @include media-breakpoint-down(md)
                margin: 0 auto $spacing-3
                width: fit-content
            &::before
                @include image-mask("../assets/images/mask-2.svg")
                background: white
                bottom: 0
                content: ""
                left: 0
                position: absolute
                right: 0
                top: 0
                transform: translateY(15%)
            img
                @include image-mask("../assets/images/mask-1.svg", true)
                height: 100%
                max-width: unset
        hgroup
            @include media-breakpoint-down(md)
                margin: auto
                width: fit-content
            p
                align-items: center
                display: flex
                justify-content: end
                letter-spacing: 1px
                text-transform: uppercase
                @include media-breakpoint-down(md)
                    justify-content: start
                    margin-top: $spacing-0
                &::before 
                    content: ""
                    width: 25%
                    background: white
                    height: 1px
                    margin-right: $spacing-1
