.projects__page 
    .project
        &__categories
            display: flex
            align-items: center
            li
                + li
                    margin-left: 10px
                a 
                    background-color: rgba(255,255,255, 0)
                    border: 1px solid white
                    border-radius: $spacing-1
                    padding: calc(#{$spacing-0} / 2) $spacing-0
                    text-decoration: none
                    transition: background-color .3s ease
                    &:hover
                        background-color: rgba(255,255,255, .6)
                        
        &__presentation
            margin: $spacing-3 0
            @include media-breakpoint-up(md)
                border: 1px solid white
                border-radius: 30px
                overflow: hidden
            h3
                margin: $spacing-1 0
                @include media-breakpoint-up(md)
                    margin: $spacing-2 0

        &--top
            @include media-breakpoint-up(md)
                display: flex
                height: 80vh
                > div
                    flex: 1
        &--cover
            background: 
                size: cover
                position: center
            opacity: .9
            @include media-breakpoint-down(md)
                height: 30vh
                border-radius: 30px
                margin-bottom: $spacing-2
        &--summary
            @include media-breakpoint-up(md)
                display: flex
                flex-direction: column
                h2
                    margin: $spacing-2 $spacing-2 0
                > div
                    flex: 1
                    margin: $spacing-2
                    margin-right: calc(#{$spacing-2} - 10px)
                    padding-right: 10px
                    overflow: auto
        &--links
            background-color: rgba(255,255,255, .8)
            padding: $spacing-2
            @include media-breakpoint-down(md)
                border-radius: 20px
                margin: $spacing-2 0
                padding: $spacing-0
            a
                color: $dark-color



    

ul.project-list
    @include media-breakpoint-up(md)
        display: flex
        flex-wrap: wrap
        gap: $spacing-1
        justify-content: space-between
        @include media-breakpoint-up(lg)
            gap: $spacing-2
    > li
        background-color: rgba(255,255,255, 0)
        border: 1px solid white
        border-radius: 30px
        display: flex
        flex-shrink: 0
        flex-basis: calc(33% - #{$spacing-2})
        flex-direction: column-reverse
        justify-content: flex-end
        overflow: hidden
        position: relative
        transition: background-color .3s ease
        @include media-breakpoint-down(md)
            &:not(:first-of-type)
                margin-top: $spacing-1
        .content
            padding: $spacing-1
            h3
                margin-bottom: calc(#{$spacing-1} / 2)
                a
                    @include stretched-link
                    @include light-underline
        .media
            background:
                color: white
                position: center
                size: auto 100%
            height: 150px
            opacity: .8
            overflow: hidden
            position: relative
            transition: background-size .3s ease, opacity .3s ease
            @include media-breakpoint-up(md)
                height: 200px
            ul
                align-items: center
                background: transparentize($dark-color, .3 )
                backdrop-filter: blur(3px)
                bottom: 0
                display: flex
                flex-wrap: wrap
                justify-content: center
                opacity: 0
                position: absolute
                left: 0
                right: 0
                top: 0
                transition: opacity .3s ease
                * + *
                    margin-left: $spacing-0
        &:hover
            background-color: rgba(255,255,255, .1)
            .media
                background-size: auto 120%
                opacity: 1
                ul
                    opacity: 1