.projects__page 
    .project
        > * + *
            margin-top: $spacing-2
            @include media-breakpoint-up(md)
                margin-top: $spacing-3
        &__categories
            align-items: center
            display: flex
            flex-wrap: wrap
            column-gap: $spacing-0
            row-gap: $spacing-1
            li
                a 
                    background-color: rgba(255,255,255, 0)
                    border: 1px solid white
                    border-radius: $spacing-1
                    padding: calc(#{$spacing-0} / 2) $spacing-0
                    text-decoration: none
                    transition: background-color .3s ease
                    &:hover
                        background-color: rgba(255,255,255, .6)
                        
        &__presentation
            margin: $spacing-3 0
            @include media-breakpoint-up(md)
                border: 1px solid white
                border-radius: 30px
                overflow: hidden
            h3
                margin: $spacing-1 0
                @include media-breakpoint-up(md)
                    margin: $spacing-2 0

        &--top
            @include media-breakpoint-up(lg)
                display: flex
                height: 80vh
                > div
                    flex: 1
        &--cover
            background: 
                color: white
                size: cover
                position: center
            opacity: .8
            @include media-breakpoint-down(lg)
                height: 50vh
                margin-bottom: $spacing-2
            @include media-breakpoint-down(md)
                height: 30vh
                border-radius: 30px
        &--summary
            @include media-breakpoint-up(lg)
                display: flex
                flex-direction: column
            h2
                margin: $spacing-1 $spacing-1 0
                @include media-breakpoint-up(md)
                    margin: $spacing-2 $spacing-2 0
            > div
                flex: 1
                margin: $spacing-1
                overflow: auto
                @include media-breakpoint-up(md)
                    margin: $spacing-2
                @include media-breakpoint-up(lg)
                    margin-right: calc(#{$spacing-2} - 10px)
                    padding-right: 10px
        &--links
            background-color: rgba(255,255,255, .8)
            padding: $spacing-2
            @include media-breakpoint-down(md)
                border-radius: 20px
                margin: $spacing-2 0
                padding: $spacing-0
            a
                color: $dark-color
    .projects-navigation
        border-bottom: 1px solid rgba(255,255,255, .3)
        border-top: 1px solid rgba(255,255,255, .3)
        ul
            li
                padding: $spacing-1 0
        @include media-breakpoint-up(sm)
            ul 
                display: flex
                justify-content: space-between
                li:first-of-type
                    span
                        @include icon($icon-arrow-left)
                li:not(:first-of-type)
                    text-align: right
                    span
                        @include icon($icon-arrow-right, after)
                li
                    padding: $spacing-2 0
                    position: relative
                    span
                        @include meta
                    a
                        @include stretched-link
                        @include light-underline
                    

ul.project-list
    @include media-breakpoint-up(lg)
        display: flex
        flex-wrap: wrap
        gap: $spacing-1
        justify-content: space-between
        @include media-breakpoint-up(lg)
            gap: $spacing-2
    > li
        background-color: rgba(255,255,255, 0)
        border: 1px solid white
        border-radius: 30px
        display: flex
        flex-direction: column-reverse
        flex-shrink: 0
        flex-basis: calc(33% - #{$spacing-2})
        justify-content: flex-end
        overflow: hidden
        position: relative
        transition: background-color .3s ease
        @include media-breakpoint-up(md)
            flex-direction: row-reverse
            height: 150px
        @include media-breakpoint-up(lg)
            flex-direction: column-reverse
            height: unset
        @include media-breakpoint-down(lg)
            &:not(:first-of-type)
                margin-top: $spacing-1
        .content
            padding: $spacing-1
            @include media-breakpoint-up(md)
                flex: 1
            h3
                margin-bottom: calc(#{$spacing-1} / 2)
                a
                    @include stretched-link
                    @include light-underline
        .media
            background:
                color: white
                position: center
                size: cover
            height: 150px
            opacity: .8
            overflow: hidden
            position: relative
            transition: background-size .3s ease, opacity .3s ease
            @include media-breakpoint-up(md)
                background-size: auto 100%
                flex: .5
                height: 100%
            @include media-breakpoint-up(lg)
                flex: unset
                height: 200px
            ul
                align-items: center
                background: transparentize($dark-color, .3 )
                backdrop-filter: blur(3px)
                bottom: 0
                display: flex
                flex-wrap: wrap
                justify-content: center
                opacity: 0
                position: absolute
                left: 0
                right: 0
                top: 0
                transition: opacity .3s ease
                * + *
                    margin-left: $spacing-0
        &:hover
            background-color: rgba(255,255,255, .1)
            .media
                background-size: auto 120%
                opacity: 1
                ul
                    opacity: 1