.categories__taxonomy, 
.technologies__taxonomy 
    main
        ul
            display: flex
            flex-wrap: wrap
            gap: $spacing-1
            li
                padding: $spacing-1 0
            a
                @include light-underline