{{- if or .PrevInSection .NextInSection -}}
  <nav class="projects-navigation" aria-label="Navigation entre projets">
    <ul>
      <li class="next">
        {{- if .NextInSection -}}
          {{with .Site.RegularPages.Next . }}
              {{ $title := .Title -}}
              <span>
                Projet suivant
              </span>
              <br>
              <a href="{{.RelPermalink}}" title="{Consulter le projet précédent">
                {{- $title -}}
              </a>
          {{end}}
        </li>
      {{- end -}}
      <li class="previous">
        {{- if .PrevInSection -}}
          {{with .Site.RegularPages.Prev . }}
            {{ $title := .Title -}}
            <span>
              Projet précédent
            </span>
            <br>
            <a href="{{.RelPermalink}}" title="Consulter le projet précédent">
              {{- $title -}}
            </a>
          {{end}}
        {{- end -}}
      </li>
    </ul>
  </nav>
{{- end -}}
