{{- if or .PrevInSection .NextInSection -}}
  <nav class="projects-navigation" aria-label="Navigation entre projets">
    <ul>
      {{- if .NextInSection -}}
        {{with .Site.RegularPages.Next . }}
          <li class="next">
            {{ $title := .Title -}}
            <span>
              Projet suivant
            </span>
            <br>
            <a href="{{.RelPermalink}}" title="{Consulter le projet précédent">
              {{- $title -}}
            </a>
          </li>
        {{end}}
      {{- end -}}
      {{- if .PrevInSection -}}
        {{with .Site.RegularPages.Prev . }}
          <li class="previous">
            {{ $title := .Title -}}
            <span>
              Projet précédent
            </span>
            <br>
            <a href="{{.RelPermalink}}" title="Consulter le projet précédent">
              {{- $title -}}
            </a>
          </li>
        {{end}}
      {{- end -}}
    </ul>
  </nav>
{{- end -}}
