<div class="project">
  {{- partial "projects/categories.html" . -}}
  <div class="project__presentation">
    <div class="project--top">
      <div class="project--cover" style="background-image: url({{ .Params.cover.url }});"></div>
      <div class="project--summary">
        <h2>Le projet</h2>
        <div>{{ .Content }}</div>
      </div>
    </div>
    {{- partial "projects/links.html" . -}}
  </div>
  {{- partial "projects/technologies.html" . -}}
  {{- partial "projects/navigation.html" . -}}
</div>
